[submodule "DevOps-Project-01"]
	path = DevOps-Project-01
	url = https://github.com/imnzr/DevOps-Project-01.git
[submodule "DevOps-Project-02"]
	path = DevOps-Project-02
	url = https://github.com/imnzr/DevOps-Project-02.git
